<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vademecum</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <h2> Buscar por producto</h2>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar" class="coso"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of items | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=productClick(product)>{{product.$key}}</h3>
		</ion-item>
  </ion-list>
  <h2> Buscar por laboratorio</h2>
  <ion-searchbar (ionInput)="getLabs($event)" placeholder="Buscar" class="coso"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of labs | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=productClick(product)>{{product.$key}}</h3>
		</ion-item>
  </ion-list>
  <h2> Buscar por principio activo</h2>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar" class="coso"></ion-searchbar>
  <!--<ion-list>
    <ion-item *ngFor="let product of items | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=productClick(product)>{{product.$key}}</h3>
		</ion-item>
  </ion-list>-->
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div> 
</ion-content>
