<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vademecum</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <h2> Categorias de búsqueda</h2>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por producto" class="coso"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of items | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=productClick(product)>{{product.nombre}}</h3>
		</ion-item>
  </ion-list>
  <ion-searchbar (ionInput)="getLabs($event)" placeholder="Buscar por laboratorio" class="coso"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of labs | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=labClick(product)>{{product.nombre}}</h3>
		</ion-item>
  </ion-list>
  <ion-searchbar (ionInput)="getPrinc($event)" placeholder="Buscar por principio activo" class="coso"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of principios | slice:0:10; let i=index">
    	<h3 *ngIf="i<11" (click)=productClick(product)>{{product.nombre}}</h3>
		</ion-item>
  </ion-list>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div> 
</ion-content>
