page-home {
    .titulo{
        color: #00C25F;
        font-size: large;
    }
    .fecha{
        font-size: xx-small;
    }
    .resumen{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small;
    }
    #btnNoticia{
        width: 48%;
    }
    #btnEvento{
        width: 48%;
    }
    
}
