page-home {
    .titulo{
        color: blue;
        font-size: large;
    }
    .fecha{
        font-size: xx-small;
    }
    .resumen{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small;
    }

}
