
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Noticias y eventos</h2>
  <ion-list>
      <ion-card *ngFor="let event of eventsToShow " >
          <img src={{event.foto}}/>
          <ion-card-content>
            <ion-card-title class="titulo">
              {{event.title}}
            </ion-card-title>
            <p class="fecha">{{event.startTime}}</p>
            <p class="resumen">
              {{event.texto}}
            </p>
            <ion-row padding>
              <ion-col>
                <button ion-button clear small color="primary" icon-start (click)="showDetails(event)">
                  <ion-icon name='ios-information-circle'></ion-icon>
                  Detalles
                </button>
              </ion-col>
              <ion-col *ngIf=event.voy>
                <button ion-button clear small color="primary"  (click)="asistir(event)" icon-start>
                  <ion-icon name='md-calendar'></ion-icon>
                  Asisitiré
                </button>
              </ion-col>
              <ion-col *ngIf=!event.voy>
                <button ion-button clear small color="primary"  (click)="noAsistir(event)" icon-start>
                  <ion-icon name='md-calendar'></ion-icon>
                  No Asisitiré
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  </ion-list>
  <ion-list>
    <ion-card *ngFor="let noticia of noticias | async " >
        <img src={{noticia.foto}}/>
        <ion-card-content>
          <ion-card-title class="titulo">
            {{noticia.title}}
          </ion-card-title>
          <p class="fecha">{{noticia.startTime}}</p>
          <p class="resumen">
            {{noticia.texto}}
          </p>
          <ion-row padding>
              <ion-col>
                  <button ion-button clear small color="primary" icon-start (click)="showDetails(noticia)">
                    <ion-icon name='ios-information-circle'></ion-icon>
                    Detalles
                  </button>
                </ion-col>
            <ion-col>
              <button ion-button clear small color="primary" icon-start (click)="guardar(noticia)">
                <ion-icon name='md-archive'></ion-icon>
                Guardar
              </button>
            </ion-col>
            <ion-col >
              <button ion-button clear small color="primary" icon-start>
                <ion-icon name='ios-heart'></ion-icon>
                Like
              </button>
            </ion-col>    
          </ion-row>
        </ion-card-content>
      </ion-card>
</ion-list>
 <!--<button ion-button block (click)="logoutUser()">Log out</button>-->
</ion-content>
